body {
    color: #070707;
    background-color:  #ffc34d;
    padding: 10px;
  }
  
  p {
    color: #000000;
  }
  
  
  #khon-koeung {
    color: #7122d8;
    background-color: #8fd48f;
  }
  
  #Siem-Reap {
    color: #190527;
    background-color: #ffffff;
  }
  
  #Da-Nang {
    color: #bad9e0;
    background-color: #5a7ddd;
  }
  
  #Singapore {
    color: #f7e8ef;
    background-color: #ee7373;
  }
  
  #Seoul {
    color: #091b0a;
    background-color: #56d456;
  }
  
  
  figure {
    border: 1px solid #663300;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    height: 420px;
  }
  
  figcaption {
    text-align: 50%;
    font-style: italic;
  
  }
  
  figure>img {
    max-width: 100%;
  }
  
  .div-button-people > button {
    margin-bottom: 9px;
  } 
  
  #button-Siem-Reap {
    color: #f71212;
    background-color: #f2f2f2;
  }
  
  #anchor-Siem-Reap {
    color: #000000;
    background-color: #f2f2f2;
  }
  
  #button-Da-Nang {
    color: #f31414;
    background-color: #ffff00;
  }
  
  #anchor-Da-Nang {
    color: #0000cc;
    background-color: #ffff00;
  }
  
  #button-Singapore {
    color: #f1291a;
    background-color: #6666ff;
  }
  
  #anchor-Singapore {
    color: #ffffcc;
    background-color: #6666ff;
  }
  
  #button-Seoul {
    color: #eb0a0a;
    background-color: #ff0000;
  }
  
  #anchor-Seoul {
    color: #ffcc00;
    background-color: #ff0000;
  }
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 100px; 
  }
  
  .row{
    content: "";
    display: table;
    clear: both;
  }
  img{
    width: 100%;
    height: 200%;
  }
  .col{
    text-align: center;
    position: relative;
    top: 100px;
    content: "";
    display: table;
    clear: both;
  }

  